.about__nav{
    text-align: center;
    color: var(--clr-red);
    padding-top: var(--size-xs);
    padding-bottom: var(--size-xs);
}

.about__nav ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__nav ul li:hover,
.about__nav ul li:active{
    color: var(--clr-orange);
}


@media (min-width: 475px) {
   
}

@media (min-width: 640px) {
    
}

@media (min-width: 768px) {
    .about__links__wrapper{
        flex-direction: row;
    }
    
}   

@media (min-width: 1024px) {
    
}

@media (min-width: 1280px) {
    
}

@media (min-width: 1563px) {
    
}