/* Contact Us styles */
#contact__page{
    padding-top: var(--size-base);
}

.contact__wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
    padding-bottom: var(--size-base);
}

.contact__info a{
    color: var(--clr-red);
    text-decoration: underline;
}

/* Careers Styles */
.no__jobs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no__jobs p{
    text-align: center;
}

.no__jobs{
    display: none;
}

.careers__wrapper h1{
    padding-bottom: var(--size-base);
    text-align: center;
}

.jobs__cards__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--size-base);
    padding-bottom: var(--size-base);
    /* width: clamp(300px, 100%, 600px); */
}

.job__card{
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
    /* background-color: rgb(255, 60, 0); */
    padding: 1rem;
    border-radius: 10px;
}

.jobs__cards__wrapper a:active,
.jobs__cards__wrapper a:hover{
    border-radius: 10px;
    border: 1px solid var(--clr-red);

}

.job__tags{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.job__tags i{
    color: var(--clr-red);
}

.job__tags p{
    color: var(--clr-dark-fade);
    padding: 0.1rem 0.4rem;
    background-color: #ebebeb;
    border-radius: 5px;
    white-space: nowrap;
}

/* .careers__wrapper{
    display: none;
} */

.career__details__wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
    padding-bottom: var(--size-base);
}

.career__details__wrapper ul{
    list-style: disc;
    list-style-position: inside;
}

.career__details__wrapper li,
.career__details__wrapper p{
    color: var(--clr-dark-fade);
}

.career__details__wrapper a{
    color: var(--clr-red);
    text-decoration: underline      ;
}

.career__details__wrapper hr{
    color: var(--clr-dark-fade);
    opacity: 0.2;
}

.title__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-sm);
    padding-top: var(--size-base);
    padding-bottom: var(--size-base);
}

/* Terms and privacy Styles  */
#terms__privacy{
    padding-top: var(--size-base);
    padding-bottom: var(--size-base);
}

#terms__privacy .container{
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
}

#terms__privacy a{
    color: var(--clr-red);
    text-decoration: underline;    
}

#terms__privacy ol li,
#terms__privacy p{
    color: var(--clr-dark-fade);
}

#terms__privacy ul li{
    color: var(--clr-dark-fade);
    list-style: disc;
    list-style-position: inside;
    padding-left: var(--size-base);
}

#terms__privacy p strong{
    color: var(--clr-red);
}

@media (min-width: 768px) {
    .contact__wrapper{
        flex-direction: row;
    }
    .contact__info{
        width: clamp(300px, 50%, 1000px);
    }
}   