.footer__wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-direction: column;
}

.fb__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-xl);
}

.quick__links__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quick__links__wrapper h2{
    padding-bottom: var(--size-xl);
    padding-top: var(--size-2xl);
}

.quick__links{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: var(--size-6xl);
}


.footer__menu{
    display: flex;
    flex-direction: column;
    gap: var(--size-xl);
}

.footer__links:hover,
.footer__links:active{
    color: var(--clr-orange);
}

.footer__divider{
    border: none;
    height: 2px;
    background-color: var(--clr-light);
    opacity: 0.8;
    margin-top: 1rem;
}

.copyright__text{
    text-align: center;
    padding-top: 1rem;
}

@media (min-width: 475px) {
}

@media (min-width: 640px) {
   
}

@media (min-width: 768px) {
    .footer__wrapper{ 
        flex-direction: row;
        align-items: flex-start;
    }
    .quick__links__wrapper h2{
        padding-top: 0;
    }
}   

@media (min-width: 1024px) {
    
}

@media (min-width: 1280px) {
    
}

@media (min-width: 1563px) {
    
}