.header__bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-light);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    z-index: 8;
    height: 78px; 
    width: 100dvw;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    z-index: 9;
}

.header__logo{
    aspect-ratio: 1/1;
    width: 60px;
    height: 60px;
}

.header__menu{
    display: none;
}

.header__link{
    color: var(--clr-dark);
    transition: color 0.3s ease;
}

.header__link.active{
    color: var(--clr-red);
    position: relative;
    transition: all 0.3s ease;
}

.header__link.active::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--clr-red);
    bottom: -5px;
}

.header__link:hover{
    color: var(--clr-red);
    position: relative;
}

.header__link:hover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--clr-red);
    bottom: -5px;
}

.header__bar{
    display: block;
    color : var(--clr-dark);
    width: var(--size-xl);
    height: var(--size-xl);
}

#sidebar{
    display: none;
}

.sidebar__nav ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--size-sm);
    width: 100%;
}

#sidebar .sidebar__nav a{
    padding-left: var(--size-base);
}

.sidebar__close{
    display: inline-block;
    padding-left: calc(var(--size-base) - 2px);
}

.sidebar__overlay{
    background: rgba(0,0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
    backdrop-filter: blur(3px);
}

.sidebar__links{
    font-weight: 700;
    color: var(--clr-dark);
    position: relative;
}

.sidebar__close:active,
.sidebar__links.active,
.sidebar__links:active{
    position: relative;
    color: var(--clr-red);
}

.sidebar__links.active::before{
    content: '';
    position: absolute;
    width: 75%;
    height: 2px;
    background-color: var(--clr-red);
    bottom: -5px;    
}

#sidebar .btn__contact{
    display: inline-block;
    font-weight: 700;
    background-color: var(--clr-yellow);
    max-width: fit-content;
}

#sidebar .btn{
    margin-left: 1rem;
}

#sidebar .btn:active{
    margin-left: 1rem;
    background-color: var(--clr-orange);
}

@media (min-width: 360px) {
    #sidebar{
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background: #ffffff;
        padding-top: 1rem;
        gap: var(--size-sm);
        top: 0;
        right: -100%;
        height: 100dvh;
        width: clamp(200px, 50%, 300px);
        z-index: 10;
        border-left: 1px solid rgba(68, 68, 68, 0.5);
        transition: right 0.5s ease-in-out;
    }

    #sidebar.show {
        right: 0;
        
    }

    #sidebar.show ~ .sidebar__overlay {
        display: block;
        
        z-index: 9;
    }
}

@media (min-width: 640px) {
    
}

@media (min-width: 768px) {
    .header__menu{
        display: flex;
        align-items: center;
        gap: clamp(1rem, 3vw, 4rem);
    }

    .header__bar{
        display: none;
    }

}   

@media (min-width: 1024px) {
    
}

@media (min-width: 1280px) {
    
}

@media (min-width: 1563px) {
    
}