.AFC__txt{
    font-family: 'Cooper';
    font-size: var(--size-4xl);
    color: var(--clr-red);
}

.blogs__top__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

@media (min-width: 475px) {
   
}

@media (min-width: 640px) {
    .AFC__txt{
        font-size: var(--size-5xl);
    }
}

@media (min-width: 768px) {
    
}   

@media (min-width: 1024px) {
    
}

@media (min-width: 1280px) {
    
}

@media (min-width: 1563px) {
    
}

