.home-swiper .swiper-slide {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-swiper .swiper-slide img {
    width: 100%;
    /* height: 400px; */
    object-fit: cover;
    object-position: center;  
}

.home-swiper .swiper-slide .desktop-ver{
    display: none;
}

/* .home-swiper .swiper-button-next,
.home-swiper .swiper-button-prev{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.home-swiper .swiper-button-prev{
    padding-left: 0.3rem;
    padding-right: 0.5rem;
}

.home-swiper .swiper-button-next{
    padding-left: 0.5rem;
    padding-right: 0.3rem;
} */

.swiper-button-next,
.swiper-button-prev{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.swiper-button-prev{
    padding-left: 0.3rem;
    padding-right: 0.5rem;
}

.swiper-button-next{
    padding-left: 0.5rem;
    padding-right: 0.3rem;
}


.home-swiper{
    --swiper-navigation-size: 30px;
    --swiper-navigation-color: var(--clr-light);
    --swiper-navigation-sides-offset: 1%;
    --swiper-pagination-bullet-size: 0.7rem;
    --swiper-pagination-bullet-inactive-color: var(--clr-light);
    --swiper-pagination-bullet-inactive-opacity: 0.7;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 0.5rem;
    --swiper-pagination-color: var(--clr-orange);
}

.blogs-swiper .swiper-slide{
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: var(--clr-light);  
    color: var(--clr-dark);
    border-radius: 20px;
}

.blogs-swiper .image-wrapper {
    overflow: hidden;
    /* height: 240px; */
    aspect-ratio: 16 / 9;
}

.blogs-swiper .swiper-slide img{
    display: block; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: 0.5s ease;  
}

.blogs-swiper .swiper-slide img:hover{
    transform: scale(1.2);
}

.blogs-swiper .details-wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--size-sm);
    padding: var(--size-sm);
}

.blogs-swiper .swiper-slide h2{
    white-space: nowrap;           
    overflow: hidden;              
    text-overflow: ellipsis;
}

.blogs-swiper{
    --swiper-navigation-size: 30px;
    --swiper-navigation-color: var(--clr-light);
}

.about-swiper {
    width: 350px;
    height: 400px;
}

.about-swiper .swiper-slide{
    display: flex;
    overflow: hidden;
}

.about-swiper .swiper-slide img{
    object-fit: cover;
    object-position: center;
    border-radius: var(--size-base);
    width: 350px;
}

.about-swiper{
    --swiper-scrollbar-bottom: 10px;
    --swiper-scrollbar-bg-color: rgba(124, 124, 124, 0.6);
    --swiper-scrollbar-drag-bg-color: rgba(255, 255, 255, 0.9);
}

@media (min-width: 475px) {

}

@media (min-width: 640px) {
    
}

@media (min-width: 768px) {
    .home-swiper .swiper-slide img {
        height: auto;
    }

    .home-swiper .swiper-slide .desktop-ver{
        display: block;
    }

    .home-swiper .swiper-slide .mobile-ver{
        display: none;
    }

    .home-swiper,
    .blogs-swiper{
        --swiper-navigation-size: 40px;
    }
}

@media (min-width: 1024px) {
    
}

@media (min-width: 1280px) {
    
}

@media (min-width: 1563px) {
    
}